li strong{
	margin-right: 10px;
}


ul li ul{
	margin-top: 20px;
}


li.open{
	background-color: #BFCAD1;
	color: #2C3E50;
	padding: 10px;
}

.icon:after{
  font-family: "Glyphicons Halflings";
  font-style: normal;
  content: "\e114";
}

.open .icon:after{
  content: "\e113";
}